<div>

  <div class="text-center">
    <button class="btn btn-primary" print-btn><i class="fa fa-print"></i>Imprimir</button>
  </div>

  <br>

  <div print-section class="panel panel-primary">

    <div class="panel-heading text-center lead">Orçamento</div>

    <table print-table="product" class="receipt table table-hover">
        <thead>
          <tr class="small">
            <th> Referência </th>
            <th> Cliente </th>
            <th> Status do pedido </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{ transaction._id }} </td>
            <td> {{ transaction.customerName }} </td>
            <td ng-if="transaction.status === 0">  Aguardando pagamento  </td>
            <td ng-if="transaction.status === 1">  Pago  </td>
          </tr>
        </tbody>
      </table>
    <table class="receipt table table-hover">
        <thead>
          <tr class="small">
            <th> Quantidade </th>
            <th> Produto </th>
            <th> Preço </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in transaction.products">
            <td> {{ product.quantity }} </td>
            <td>
              <a href="#/inventory/product/{{ product._id }}">
                {{ product.name }}
              </a>
            </td>
            <td>
              <span>
                {{ ( product.price * product.quantity ) | currency }}
              </span>
            </td>
          </tr>
        </tbody>

        <tbody>
          <tr class="total">
            <td></td>
            <td>Total</td>
            <td> {{ transaction.total | currency }} </td>
          </tr>
          <tr>
            <td></td>
            <td>Recebido</td>
            <td> {{ transaction.payment | currency }} </td>
          </tr>
          <tr class="lead">
            <td></td>
            <td>Troco</td>
            <td> {{ transaction.payment - transaction.total | currency }} </td>
          </tr>
        </tbody>
      </table>

      <p align="right">Não é documento fiscal</p>
  </div>
</div>
